  <main>
    <h1>Login Form</h1>
      <form id="login-form" action="/login" method="POST">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text">
        <label for="password">Password:</label>
        <input id="password" name="password" type="text">
        <button type="submit">Submit</button>
      </form>
      <div id="errorArea">
        <p>{{ error }}</p>
      </div>
  </main>