<div class="row">
    <form id="palindrome-form" class="palindrome-form">
    {{!-- <form class="palindrome-form" method="POST"> --}}
        <div class="form-group">
            <textarea id="phrase" name="phrase" placeholder="Enter a phrase to check"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>

<div id="errorArea">
</div>

<div class="form-group">
    <p>Blue Phrases are Palindromes, Red are not</p>
    <ol id="attempts" class="attempts"></ol>
</div>