<div class="row">
    <form class="dynamicForm" method="POST" onsubmit="checkPalindrome()">
        <div class="form-group">
            <textarea id="phrase" name="phrase" placeholder="Enter a phrase to check"></textarea>
        </div>
        <div class="form-group">
            <button id="submit-btn" type="submit" value="Submit">Submit</button>
        </div>
    </form>
</div>

<div class="form-group">
    <p>Blue Phrases are Palindromes, Red are not</p>
    <ol id="attempts" class="attempts"></ol>
</div>

<script>
    document.getElementById("submit-btn").addEventListener("click", checkPalindrome(), true);
    function checkPalindrome() {
        let li = document.createElement("li");
        let phrase = getElementById("phrase");
        let palindromeCheck = false;

        if (typeof phrase !== "string") throw "Input must be a string!";
        if (phrase == '') throw "Must provide a string to check!";

        let phraseVal = document.createTextNode(phrase);
        li.appendChild(phraseVal);
        // Palindrome check
        let no_punc = phrase.toLowerCase().replace(/[^a-z]/g, '').replace(/\s+/g, '').trim();
        if (no_punc == no_punc.split('').reverse().join('')) {
            palindromeCheck = true;
        }

        if (palindromeCheck) li.setAttribute("class", "is-palindrome");
        else li.setAttribute("class", "not-palindrome");

        document.getElementById("attempts").append(li);
    }
    
</script>